# Pruebas de conexion con MariaDB

## Librerias utilizadas

In [1]:
import mariadb
import sys
from datetime import datetime
import time

In [14]:
datetime.now()

datetime.datetime(2022, 10, 21, 10, 33, 28, 402382)

## Conexión

In [66]:
def conectar():
    try:
        conn = mariadb.connect(
            user="elicogrp",
            password="Elico2022",
            host="datosdummies.crtpfqqqsc7r.us-east-1.rds.amazonaws.com",
            port=3306,
            database="demo_conhydra" #se habilita cuando se cree una base de datos, para conectarse con la instancia se deshabilita

        )

        return conn

    except mariadb.Error as e:
        print(f"Error connecting to MariaDB Platform: {e}")

In [138]:
conexion=conectar()
if conexion:
    print('True')
else:
    print('False')

True

## Creación de cursor

In [139]:
cur = conexion.cursor()

## Inserción de un registro en la tabla demo_conhydra.ConhydraApp_timestamp

In [140]:
row=tuple([datetime.now()])

In [141]:
query=f'''INSERT INTO ConhydraApp_timestamp (timestamp) VALUES (?)'''

In [142]:
cur.execute(query, row)

In [143]:
conexion.commit()

In [144]:
cur.execute('SELECT LAST_INSERT_ID();')

In [145]:
cur.fetchall()[0][0]

33

## Cerrar conexion

In [146]:
conexion.close()

## Completo

In [154]:
conexion=conectar()
cur = conexion.cursor()
row=tuple([datetime.now()])
query=f'''INSERT INTO ConhydraApp_timestamp (timestamp) VALUES (?)'''
cur.execute(query, row)
conexion.commit()
cur.execute('SELECT LAST_INSERT_ID();')
id=cur.fetchall()[0]
conexion.close()
print(id)

(37,)

In [153]:
(1,2,3,4,5,6)[1:]

(2, 3, 4, 5, 6)

In [165]:
lista=list((1,2,3,4,5,6))

In [168]:
lista

[1, 2, 3, 4, 5, 6, 7]

In [169]:
lista.append(7)

In [167]:
a

In [151]:
tuple([1])

(1,)

In [170]:
lista=[(1,2,3,4,5,6)]

In [171]:
lista

[(1, 2, 3, 4, 5, 6)]

## Consulta en base de datos data

In [46]:
cur.execute("SELECT * FROM t1;")
for a in cur:
    print(a)

(5000,)
(5000,)
(3000,)
(2000,)
(13720,)

## Mostrar bases de datos en la instancia

In [21]:
cur.execute('SHOW DATABASES')

for i in cur:
    print(i[0])

data
information_schema
innodb
mysql
performance_schema
sys

## Mostrar tablas en la base de datos

In [43]:
cur.execute('SHOW TABLES')

for i in cur:
    print(i[0])

t1
t2

## Mostrar creación de tabla

In [44]:
cur.execute('SHOW CREATE TABLE t2')

for i in cur:
    print(i)

('t2', 'CREATE TABLE `t2` (\n  `timestamp` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),\n  `d1` smallint(6) DEFAULT NULL,\n  `d2` smallint(6) DEFAULT NULL,\n  `d3` smallint(6) DEFAULT NULL,\n  `d4` smallint(6) DEFAULT NULL,\n  `d5` smallint(6) DEFAULT NULL,\n  `d6` smallint(6) DEFAULT NULL,\n  `d7` smallint(6) DEFAULT NULL,\n  `d8` smallint(6) DEFAULT NULL,\n  `d9` smallint(6) DEFAULT NULL,\n  `d10` smallint(6) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=latin1')

## Creación de tabla: data->t2

In [39]:
try:
    conn = mariadb.connect(
        user="elicogrp",
        password="Elico2022",
        host="datosdummies.crtpfqqqsc7r.us-east-1.rds.amazonaws.com",
        port=3306,
        database="data" #se habilita cuando se cree una base de datos, para conectarse con la instancia se deshabilita

    )

except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

cur = conn.cursor()

query='''
CREATE TABLE t2 (
    timestamp TIMESTAMP,
    d1 SMALLINT, d2 SMALLINT,
    d3 SMALLINT, d4 SMALLINT,
    d5 SMALLINT, d6 SMALLINT,
    d7 SMALLINT, d8 SMALLINT,
    d9 SMALLINT, d10 SMALLINT
);
'''
cur.execute(query)
conn.commit()
conn.close()

## Insertar datos en t2

In [ ]:
cur.execute(
    "INSERT INTO t1 (d1) VALUES (100000);"
    )
conn.commit()

In [83]:
time_stamp=datetime.fromtimestamp(datetime.timestamp(datetime.now()))
time_stamp

datetime.datetime(2022, 7, 29, 11, 24, 17, 287289)

In [84]:
print(time_stamp)

2022-07-29 11:24:17.287289

In [85]:
row=[time_stamp, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [87]:
tuple(row)

(datetime.datetime(2022, 7, 29, 11, 24, 17, 287289),
 100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000)

In [88]:
type(time_stamp)

datetime.datetime

In [72]:
try:
    conn = mariadb.connect(
        user="elicogrp",
        password="Elico2022",
        host="datosdummies.crtpfqqqsc7r.us-east-1.rds.amazonaws.com",
        port=3306,
        database="data" #se habilita cuando se cree una base de datos, para conectarse con la instancia se deshabilita

    )

except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

cur = conn.cursor()

#time_stamp=datetime.timestamp(datetime.now())

query='''
INSERT INTO t2 (timestamp, d1, d2, d3, d4, d5, d6, d7, d8, d9, d10) VALUES (
    '2022-07-29 10:30:01.950459', 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
);
'''
cur.execute(query)
conn.commit()
conn.close()

In [101]:
try:
    conn = mariadb.connect(
        user="elicogrp",
        password="Elico2022",
        host="datosdummies.crtpfqqqsc7r.us-east-1.rds.amazonaws.com",
        port=3306,
        database="data" #se habilita cuando se cree una base de datos, para conectarse con la instancia se deshabilita

    )

except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

cur = conn.cursor()

#time_stamp=datetime.timestamp(datetime.now())
time_stamp=datetime.fromtimestamp(datetime.timestamp(datetime.now()))
row=tuple([time_stamp, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
cantidad=','.join('?'*11)
query=f'''
INSERT INTO t2 VALUES (
    {cantidad}
);
'''
cur.execute(query, row)
conn.commit()
conn.close()

In [94]:
','.join('j'*5)

'j,j,j,j,j'

In [99]:
try:
    conn = mariadb.connect(
        user="elicogrp",
        password="Elico2022",
        host="datosdummies.crtpfqqqsc7r.us-east-1.rds.amazonaws.com",
        port=3306,
        database="data" #se habilita cuando se cree una base de datos, para conectarse con la instancia se deshabilita

    )

except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

cur = conn.cursor()

cur.execute("DELETE FROM t2;")


conn.commit()
conn.close()

In [102]:
try:
    conn = mariadb.connect(
        user="elicogrp",
        password="Elico2022",
        host="datosdummies.crtpfqqqsc7r.us-east-1.rds.amazonaws.com",
        port=3306,
        database="data" #se habilita cuando se cree una base de datos, para conectarse con la instancia se deshabilita

    )

except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

cur = conn.cursor()

cur.execute("SELECT * FROM t2;")
for a in cur:
    print(a)

conn.commit()
conn.close()

(datetime.datetime(2022, 7, 29, 11, 55, 25), 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000)

## Cierre de conexión

In [ ]:
conn.close()

In [32]:
a=20

In [42]:
cur.execute(f'INSERT INTO t1 (d1) VALUES ({a})')
conn.commit()

In [43]:
cur.execute("SELECT * FROM t1;")
#oneresult = cur.fetchone()
results = cur.fetchall()

In [44]:
results

[(5000,),
 (5000,),
 (3000,),
 (2000,),
 (13720,),
 (100,),
 (100000,),
 (100000,),
 (100000,),
 (100000,),
 (100000,),
 (20,),
 (20,),
 (20,),
 (20,)]

results